<div class="container">
  <br />
  <br />
  <br />
    <div class="jumbotron">
      <h1 class="slogan">Growtech</h1>
      <h3 class="slogan">Seu jardim inteligente!</h3>
      <hr class="my-4">
      <div class="d-flex flex-row">
        <div class="card" style="width: 18rem;">

            <div class="card-body">
              <h5 class="card-title">Temperatura e Umidade do ar</h5>
              <p class="card-text">Veja dados de temperatura do ar, em tempo real, histórico e configuração do dispositivo para envio de alertas.</p>
              <a href="#" class="btn btn-primary">Ver mais</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">

            <div class="card-body">
              <h5 class="card-title">Umidade do solo</h5>
              <p class="card-text">Já pensou em ter um jardim automatizado? Esta linha trás primeiramente um estação metereológica que monitora e trás inteligência para controle do seu jardim.</p>
              <a href="#" class="btn btn-primary">Ver mais</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">

            <div class="card-body">
              <h5 class="card-title">Jardim monitor</h5>
              <p class="card-text">Esta é um estação metereológica que monitora seu jardim, mantendo o histórico e controle de tudo aquilo que se cultiva naquele local.</p>
              <a href="#" class="btn btn-primary">Ver mais</a>
            </div>
        </div>
    </div>

    </div>



</div>
